*{
    padding: 0;
    margin: 0;  
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    background: #00a99d;
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 20;
    margin-top: 50px;
}

a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
    color: #fff;
    background: #00F;
}

a.estoyaqui{
    background: #f00;   
}

img {
    max-width: 80%;
    max-height: 600px;
}

p#firmaCurador{
    padding: 20px;
    text-align: right;   
}

p.textoCorto{
    padding: 20px;
    text-align: justify;
    display: inline-block;
}

.introduccion{  
    display: block;
    margin: auto;
    width: 73%;
}

.nombre{
    width: 350px;
    display: block;
    margin: auto;
    margin-bottom: 35px;
}

.nombre p{
    margin: 0;
}

.titulo {
    color: #023;
}

.unVideo{
    width: 580px;
    display:inline-block;
}

/* --- ESTILOS PARA LA PÁGINA DE PARTICIPANTES --- */

#participantes-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listado-encabezados {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
}

.listado-encabezados h3 {
    flex: 1;
    margin: 0;
    text-align: left;
}
.listado-encabezados h3:nth-child(2), .listado-encabezados h3:nth-child(3), .listado-encabezados h3:nth-child(4){
    flex: 1;
    margin: 0;
    text-align: center;
}

.fila-participante {
    display: flex; /* Agrupa cada fila en un contenedor flexible */
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.fila-participante:last-child {
    border-bottom: none;
}

.fila-participante div {
    flex: 1;
    padding: 0 10px;
    text-align: left;
}

.fila-participante div:nth-child(2), .fila-participante div:nth-child(3), .fila-participante div:nth-child(4) {
    text-align: center;
}

.fila-participante a {
    color: #fff;
    text-decoration: none;
    background: none;
    padding: 0;
    display: inline;
}

.fila-participante a:hover {
    text-decoration: underline;
}